
<div id='callModal' class='modal-overlay modal-call ' ng-show='call.display'>
	<div class='call-wrapper modal' ng-class='[call.displayStatus]'>
		
		<header class='call-status-bar' ng-class='{"call-on-hold" : call.callOnHold}'>
			<div class='call-message-wrapper'>
				<div class='message'>
					<span class='state-info'>{{call.properties.stateInfoDisplay}}</span>
					<span class='target-info'>{{::call.properties.callTargetTitle}}</span>
					<span>{{call.callTime}}</span>
					<span ng-if='call.callOnHold'>(on hold)</span>
				</div>
			</div>	
			<div class="call-modal-buttons">
				<button class='call-state' ng-click='call.cancelLiveCallModification()' ng-if='call.modalViewState == "dock"'>cancel</button>	
				
				<button ng-click='call.closeModal()'>	<span class="icon-CallArrow"></span>
				</button>	
				<button ng-click='call.normalModalView()'><span class="icon-inlarge-01"></span></button>
				
			</div>
		</header>
		
		<section class='call-details-container' ng-class='{"call-on-hold" : call.callOnHold && call.callControllType == call }'>
			<div class='call-item' ng-repeat='item in call.calls' ng-class-odd="'odd'" ng-class-even="'even'" ng-class='{waiting : item.status == "waiting"}'>
				
				<div ng-if='item.status == "waiting"' class='call-waiting-message'>
					Call Waiting			
				</div>
				{{item.status}}
				<div class="caller-details-wrapper">
					<div class="caller-details">
						{{item}}
						<div calle-details call-data='item' ></div>
					</div>
					
					<div class='caller-details-call-action' ng-if='!call.displaySmartCallerData()'>
						 <div ng-if="item.status != 'waiting'" calle-controll 
						 hangup='call.waitingCallReject(memberId)' 
						 member-id='{{::item.guid}}' 
						 hold='call.waitingCallHold(memberId)'></div>
					</div>
				</div>
			</div>
			<div class='smart-caller-details' ng-if='call.displaySmartCallerData()'>
				<div>linkeding</div>
				<div>twitter</div>
				<div>facebook</div>
			</div>
			
			<div class='call-control'>
				<!-- call controll while talking -->
				<!--<div on-call-control ng-if='call.callControllType == "call"' class='container on-call-control' 
				hangup='call.hangupCall()' 
				transfer="call.transferView(memberId)" 
				hold="call.holdCall(memberId)" 
				mute="call.muteCall()" 
				conference="call.conferenceView()"
				move-to-another-device="call.moveToAnotherDevice()"
				member-id="{{::call.memberId}}" 
				>-->
				<div ng-if="call.callControllType == 'call'">
					<button ng-click='call.hangupCall()'>hangup</button>
					<button ng-click='call.transferView(memberId)'>transfer</button>
					<button ng-click='call.holdCall(memberId)'>hold</button>
					<button ng-click='call.muteCall()'>mute</button>
					<button ng-click='call.conferenceView()'>conference</button>
					<buttom ng-click='call.moveToAnotherDevice()'>move</buttom>
					<button ng-click='call.showDialpad()'>show dialpad</button>
				</div>
				
				<!-- call controll while waiting for event-->
				<!--<div reciving-control ng-if='call.callControllType == "answer"' 
				accept='' 
				reject='' 
				transfer=''  member-id="{{::call.memberId}}" >-->
				<div class="container reciving-control" ng-if='call.callControllType == "answer"'>
				<button ng-click="call.acceptSingleCall()">accept</button>
				<button ng-click="call.rejectSingleCall()">reject</button>
				<button ng-click="call.transferView(memberId)">transfer</button>

				</div>
			
				<!-- <div multiple-calle-control call-item="call.activeCall" ng-if='call.callControllType == "multipleCalle"' call-is-merged='call.callIsMerged' class='container' merge='call.mergeCall()'> -->
				<div ng-if='call.callControllType == "multipleCalle"'>
					<button ng-click=""></button>
					<button ng-click=""></button>
					<button ng-click=""></button>	
				</div>
			</div>
		</section>

	</div>
</div>
<div id='callModalFade' class='modal-fade ' ng-show='call.display'></div>