/** usage for keyframs and animation

 * @include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
 */
/** Usage
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
*/
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* SLIDE THREE */
/* line 219, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
.fonedo-checkbox {
  width: 55px;
  height: 25px;
  background: #ffffff;
  /*margin: 20px auto;*/
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  /*-webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;*/
  position: relative;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2); }
  /* line 220, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
  .fonedo-checkbox input[type=checkbox] {
    visibility: hidden; }
  /* line 238, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
  .fonedo-checkbox:after {
    content: 'off';
    font: 12px/26px Arial, sans-serif;
    color: #cccccc;
    position: absolute;
    right: 7px;
    z-index: 0;
    font-weight: bold;
    /*text-shadow: 1px 1px 0px rgba(255,255,255,.15);*/ }
  /* line 249, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
  .fonedo-checkbox:before {
    content: 'on';
    font: 12px/26px Arial, sans-serif;
    color: #566272;
    position: absolute;
    left: 6px;
    z-index: 0;
    font-weight: bold; }
  /* line 259, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
  .fonedo-checkbox label {
    display: block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    /*-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    */
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 5px;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    background: #cccccc; }
  /* line 285, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
  .fonedo-checkbox input[type='checkbox']:checked + label {
    left: 30px;
    background: #20de7a;
    top: 3px; }

/* line 293, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
.is-admin.input-row .fonedo-checkbox {
  width: 70px; }
  /* line 296, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
  .is-admin.input-row .fonedo-checkbox:after {
    content: "No"; }
  /* line 299, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
  .is-admin.input-row .fonedo-checkbox:before {
    content: "Yes"; }
  /* line 302, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
  .is-admin.input-row .fonedo-checkbox label {
    width: 30px; }
  /* line 305, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
  .is-admin.input-row .fonedo-checkbox input[type='checkbox']:checked + label {
    left: 34px; }

/* line 312, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
.order-box-circule {
  -webkit-border-radius: 39px;
  border-radius: 39px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-left: 15px;
  width: 76px;
  height: 75px; }

/* line 320, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/_partial.scss */
.message-strip {
  background-color: #ff2b73;
  padding: 6px 0;
  color: #ffffff; }

/* line 2, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
.modal-overlay.modal-call {
  top: -7%; }
  /* line 4, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
  .modal-overlay.modal-call.minor-display {
    position: absolute;
    height: 52px;
    top: 84px; }
    /* line 8, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .modal-overlay.modal-call.minor-display .call-wrapper {
      width: 100%; }
      /* line 10, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
      .modal-overlay.modal-call.minor-display .call-wrapper .call-status-bar {
        -webkit-border-radius: 0;
        border-radius: 0;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
      /* line 13, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
      .modal-overlay.modal-call.minor-display .call-wrapper .call-details-container {
        display: none; }
      /* line 16, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
      .modal-overlay.modal-call.minor-display .call-wrapper .call-control {
        display: none; }

/* line 23, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
.modal-fade.minor-display {
  display: none; }

/* line 27, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
.call-wrapper.modal {
  width: 650px; }
  /* line 29, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
  .call-wrapper.modal .call-status-bar {
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    background-clip: padding-box;
    background-color: #20de7a;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    color: #ffffff; }
    /* line 35, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-status-bar.call-on-hold {
      background-color: #1e7b82; }
    /* line 38, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-status-bar button {
      width: 35px;
      height: 35px;
      background-color: #2d4665;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      border: none;
      color: #ffffff;
      margin: 0 4px; }
      /* line 46, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
      .call-wrapper.modal .call-status-bar button.call-state {
        width: 100px;
        -webkit-border-radius: 45px;
        border-radius: 45px;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 16px; }
    /* line 53, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-status-bar .call-message-wrapper {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
      /* line 57, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
      .call-wrapper.modal .call-status-bar .call-message-wrapper .message .state-info {
        text-decoration: uppercase; }
    /* line 62, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-status-bar .call-modal-buttons {
      margin-right: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
  /* line 67, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
  .call-wrapper.modal .call-details-container {
    background-color: #ffffff;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-clip: padding-box; }
    /* line 71, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-details-container .call-item.even {
      background-color: #f1f1f2; }
    /* line 75, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-details-container .call-item.waiting.even, .call-wrapper.modal .call-details-container .call-item.waiting.odd {
      background-color: #d7f9e7; }
    /* line 80, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-details-container .call-waiting-message {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      height: 35px;
      color: #ffffff;
      background-color: #1e7b82; }
    /* line 87, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-details-container .caller-details-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      height: 100px; }
      /* line 92, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
      .call-wrapper.modal .call-details-container .caller-details-wrapper .caller-details {
        min-width: 90%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
      /* line 96, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
      .call-wrapper.modal .call-details-container .caller-details-wrapper .caller-details-call-action {
        width: 10%; }
        /* line 98, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
        .call-wrapper.modal .call-details-container .caller-details-wrapper .caller-details-call-action .calle-control-buttons {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-direction: normal;
          -webkit-box-orient: horizontal;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; }
          /* line 100, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
          .call-wrapper.modal .call-details-container .caller-details-wrapper .caller-details-call-action .calle-control-buttons .hold-button, .call-wrapper.modal .call-details-container .caller-details-wrapper .caller-details-call-action .calle-control-buttons .reject-button {
            width: 30px;
            height: 30px;
            -webkit-border-radius: 30px;
            border-radius: 30px;
            background-clip: padding-box;
            /* stops bg color from leaking outside the border: */
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-direction: normal;
            -webkit-box-orient: horizontal;
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            align-items: center;
            margin: 5px 0; }
          /* line 107, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
          .call-wrapper.modal .call-details-container .caller-details-wrapper .caller-details-call-action .calle-control-buttons .hold-button {
            color: #ffffff;
            background-color: #20de7a; }
            /* line 111, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
            .call-wrapper.modal .call-details-container .caller-details-wrapper .caller-details-call-action .calle-control-buttons .hold-button.hold-active {
              background-color: #1e7b82; }
          /* line 115, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
          .call-wrapper.modal .call-details-container .caller-details-wrapper .caller-details-call-action .calle-control-buttons .reject-button {
            color: #ffffff;
            background-color: #ff2b73;
            -webkit-transform: rotateZ(45deg);
            -khtml-transform: rotateZ(45deg);
            -moz-transform: rotateZ(45deg);
            -ms-transform: rotateZ(45deg);
            -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }
    /* line 123, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-details-container .smart-caller-details {
      height: 120px;
      background-color: #cccccc; }
    /* line 127, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-details-container .call-control {
      padding: 15px 0; }
    /* line 132, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-details-container.call-on-hold .call-button-wrapper.hold button {
      background-color: #1e7b82; }
  /* line 139, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
  .call-wrapper.modal .call-control .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    /* line 142, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-control .container.reciving-control {
      -webkit-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      align-items: flex-start; }
      /* line 144, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
      .call-wrapper.modal .call-control .container.reciving-control .call-button-wrapper {
        margin-left: 5px; }
      /* line 147, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
      .call-wrapper.modal .call-control .container.reciving-control .left-buttons {
        margin-left: 15px; }
    /* line 151, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-control .container .call-buttons-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-basis: 49%;
      -moz-flex-basis: 49%;
      -ms-flex-preferred-size: 49%;
      flex-basis: 49%; }
      /* line 155, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
      .call-wrapper.modal .call-control .container .call-buttons-container.right-buttons {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        justify-content: flex-end; }
  /* line 160, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
  .call-wrapper.modal .call-control .call-button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 30px; }
    /* line 163, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-control .call-button-wrapper button {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 35px;
      height: 35px;
      -webkit-border-radius: 35px;
      border-radius: 35px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      background-color: #20de7a;
      color: #ffffff;
      border: none;
      font-size: 18px; }
    /* line 173, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .call-wrapper.modal .call-control .call-button-wrapper .text {
      margin-top: 2px;
      font-size: 12px; }

/* line 182, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
.action-button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  cursor: pointer; }
  /* line 186, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
  .action-button-container.hangup .texture-design {
    -webkit-transform: rotateZ(44deg);
    -khtml-transform: rotateZ(44deg);
    -moz-transform: rotateZ(44deg);
    -ms-transform: rotateZ(44deg);
    -o-transform: rotateZ(44deg);
    transform: rotateZ(44deg); }
  /* line 190, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
  .action-button-container .button-icon {
    position: relative;
    z-index: 2000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    font-size: 21px;
    font-weight: bold;
    color: #ffffff; }
    /* line 201, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .action-button-container .button-icon.green {
      background-color: #20de7a; }
    /* line 204, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
    .action-button-container .button-icon.red {
      background-color: #ff2b73; }
  /* line 209, ../../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/call/call.scss */
  .action-button-container .button-text {
    -webkit-border-bottom-right-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    border-top-right-radius: 25px;
    background-clip: padding-box;
    padding: 5px 18px;
    background-color: #566272;
    color: #ffffff;
    position: relative;
    left: -12px;
    z-index: 1000; }
