<html>
<head>
	<script src="http://cdn.pubnub.com/pubnub.min.js"></script>

	<script src='libs/angular/angular.js'></script>
	<script src='libs/angular-ui-router/release/angular-ui-router.min.js'></script>
	<script src="libs/angular-locker/dist/angular-locker.js"></script>
	<script src="libs/angular-modal-service/dst/angular-modal-service.js" ></script>
	<script src='libs/pubnub-angular/lib/pubnub-angular.js'></script>
	<script src="libs/lodash/lodash.js"></script>
	<script src='xms-manager.service.js'></script>
	<script src='dialogic.webrtc.client.js'></script>
	<script src="active-call.service.js"></script>
	<script src="call-actions.service.js"></script>
	<script src="call-handler.service.js"></script>
	<script src='call-members.service.js'></script>
	<script src="config.service.js"></script>
	<script src="user.service.js"></script>
	<script src="utils.service.js"></script>
	
	<script src="xms-manager.service.mock.js"></script>
	<script src='index.js'></script>
	<script src="services.js"></script>
	<script src="call-modal.controller.js"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="style2.css">
	<link rel="stylesheet" href="call.css">
</head>
<body ng-app='dailer' ng-controller='dailerController'>
	<div class='app-container'>
		
		<div class="xms-domain">
			<label>xms domain: </label>
			<input type="text" id='xms-domain' ng-model='xmsDomain' />
			<br />
			<label>xms port: </label>
			<input type='text' id='xms-port' ng-model='xmsPort'>
			<button ng-click='changeXms()'>change xms</button>
			<br>
			<label for="">rest api</label>
			<input type="text" ng-modal="restApi" />
			<button ng-click="changeApi()">change rest api location</button>
		</div>
		<br />
		<div class="publish-channel">

			<label>publish channel</label>
			<input type='text' id='publish-channel' ng-model='publishChannel'/>
			<br/>
			<label for="">Call Sid</label>
			<input type="text" ng-model="callData.CallSid"><button ng-click='plusOne()'>+</button>
			<br>
			<label for="">Call Status</label>
			<select ng-model="callData.CallStatus" >
				<option value='ringing'>ringing</option>
				<option value="answered">answered</option>
				<option value="completed">completed</option>
				<option value="no-answer">no answer<option>
				<option value="hold">hold</option>
				<option value="unhold">un hold</option>
			</select>
			<br>
			
			<label for="">Conference Room</label>
			<input type="text" ng-model="callData.ConferenceRoom">
			<br>

			<label for="">Direction</label>
			<input type="text" ng-model="callData.Direction">
			<br>
			<label for="">From</label>
			<input type="text" ng-model="callData.From">
			<br>
			<label for="">To</label>
			<input type="text" ng-model="callData.To">
			<br>
			<label for="">Account Sid</label>
			<input type="text" ng-model="callData.AccountSid">
			<br>

			<label for="">AnsweredCallSid</label>
			<input type="text" ng-model="callData.AnswerdCallSid">
			<br>
			<br/>
			<button ng-click='publish()'>publish</button>
			<br />
			<label for="">Api Version</label>
			<input type="text" ng-model="callData.ApiVersion">
			<br>
			
			<label for="">Dial Call Duration</label>
			<input type="text" ng-model="callData.DialCallDuration">
			<br>
			<label for="">Dial Call Sid</label>
			<input type="text" ng-model="callData.DialCallSid">
			<br>
			<label for="">Dial Call Stauts</label>
			<input type="text" ng-model="callData.DialCallStatus">
			<br>
			
			<label for="">_id</label>
			<input type="text" ng-model="callData._id">
			<br>
			<label for="">updated at</label>
			<input type="text" ng-model="callData.updated_at">
			<br>
			<label for="">created at</label>
			<input type="text" ng-model="callData.created_at">
			<br>
			
		</div>
		<div class="subscribe-channel">
			<label>subscribe channel</label>
			<input type='text' id='subscribe-channel' ng-model='subscribeChannel'/>
			<button ng-click='subscribe()'>subscribe</button>
		</div>
		<div>
			<h3>Fone do testing enviorment</h3>
			<h4>Your phone number is 972-72-215-6195</h4>
		</div>
		<div>
			<label for="">user token</label>
			<input type='text' id='user-token' ng-model='userToken'/>
			<button ng-click='setUserToken()'>set user token</button>
		</div>
		
		<div class="dail-number">
			<label for="">Number</label>
			<input type="text" id='dail-number' ng-model='dailNumber' />
			<button ng-click='dail()'>dail</button>

		</div>
		<div class='accept-call'>
			<!--<label for="">incoming Call</label>
			<button ng-click='accept()'>Accept</button>
			<button ng-click='reject()'>Reject</button>
			<button ng-click='hangup()'>Hangup</button> -->
			<button ng-click='pullCall()'>pullCall</button>
		</div>
		<ul class='log'>
			<li ng-repeat="item in logDetails track by item.id "><pre>{{::item}}</pre></li>
		</ul>
	</div>
	<div class='ringing-sign' ng-class="{'blink' : isRinging,'hidden': !isRinging}">
		<img src='assets/phone-icon.png' />
	</div>
	<audio style='visibility:hidden' id="audio" autoplay="autoplay" ></audio>
	<audio style='visibility:hidden' id="ring" src='assets/7307.mp3' loop='true' ></audio>

</body>
</html>