
/* line 117, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.hidden {
  display: none !important; }

/* line 121, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.fade-add {
  opacity: 0; }

/* line 125, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.visible {
  opacity: 1; }

/* line 129, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
input {
  color: #566272; }

/* line 133, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 142, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.dev {
  border: 1px solid red; }



/* line 154, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.modal-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000; }

/* line 164, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.modal-fade {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 9000; }



/* line 304, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.layout-fluid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  /* line 308, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
  .layout-fluid footer {
    width: 100%; }


/* line 448, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.fixed-background {
  background-image: url("/assets/images/BG.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh; }



/* line 484, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.success-strip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-align: center;
  background-color: #20de7a;
  color: #ffffff;
  width: 100%;
  padding: 6px 0; }

/* line 493, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
.help {
  background-color: #cccccc;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-size: 10px;
  margin-left: 7px;
  padding: 3px 7px 3px; }
  /* line 499, ../../../../../../Users/ohad1/Documents/projects/fonedo/development/client/public/sass/style.scss */
  .help a {
    text-decoration: initial; }
