label {
	
}
.ringing-sign.hidden{
	display:none;
}
.app-container{
	display:inline-block;
	width:48%;
	vertical-align:top;
}
.ringing-sign{
	/*visibility:hidden;*/
	display:inline-block;
	width:48%;
}
.ringing-sign img {
	max-width: 80px;

}

 @keyframes blink {  
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
    }
    @-webkit-keyframes blink {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
    }
    .blink {
      animation: blink 1s step-start 0s infinite;
      -webkit-animation: blink 1s step-start 0s infinite;
    }